parameters:
    paths:
        - app
        - tests
    level: 9
    ignoreErrors:
        # WorkflowStub test helpers (mock, assertDispatched, assertNotDispatched)
        # These methods exist at runtime but are not visible to static analysis
        - '#Call to an undefined static method Workflow\\WorkflowStub::(mock|assertDispatched|assertNotDispatched)\(\)#'
        # Mockery dynamic methods (andReturn)
        - '#Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage::andReturn\(\)#'
        # Pest dynamic properties ($this->storedWorkflow, $this->tempDir, $this->parser etc.)
        - '#Access to an undefined property Pest\\PendingCalls\\TestCall::\$storedWorkflow#'
        - '#Access to an undefined property Pest\\PendingCalls\\TestCall::\$tempDir#'
        - '#Access to an undefined property Pest\\PendingCalls\\TestCall::\$parser#'
        # Pest ->not->xxx() chain ($not is a magic proxy property)
        - '#Access to an undefined property Pest\\Mixins\\Expectation<.*>::\$not#'
        # YouTubeUrl|null after App::make() in tests
        - '#Cannot call method value\(\) on App\\Domain\\ValueObjects\\YouTubeUrl\|null#'
